body {
    background-color: #272C31;
}
.v-toolbar__content{
    background-color: #141618;
}
.v-data-table__wrapper{
    background-color: #141618;
}

:root {
    --v-theme-background: blue !important;
    --v-theme-surface: red !important
}

.btn_action {
    background-color: #181A1D !important;
    color: #C9C9CA !important;
    margin-right: 2px !important;
}
